.dayList {
	margin-bottom: 12px;
	a {
		border-radius: 3px;
		font-weight: 500;
		font-size: 11px;
		width: 100%;
	}
	.cs {padding: 0 2px !important;}

}

.tabs {
	.tab {
		width: 50% !important;
		margin: 0 5px;
	}
}