<!DOCTYPE html>
<html lang="en">
<head>
	
	<title><%= htmlWebpackPlugin.options.title %></title>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="primary">

	<!-- Navigation -->
	<nav class="z-depth-0">
		<div class="nav-wrapper container">
			<a href="#!" class="brand-logo left"><img src=<%= require("./img/logo.png") %> alt=""></a>
			<a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="no-margin valign-wrapper">
					<img src=<%= require('./img/pogpass.jpg') %> alt="" class="mr-2 circle" width="30px" height="30px">
					Paul Pogba
				</li>
				<li class="no-margin valign-wrapper sk"><a href="">
					<svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.3089 16.1137H1.84904V1.85303H10.3398V5.14688C10.3398 5.65798 10.7479 6.07446 11.2488 6.07446C11.7497 6.07446 12.1579 5.65798 12.1579 5.14688V0H0V18H12.1579V12.8199C12.1579 12.3088 11.7497 11.8923 11.2488 11.8923C10.7479 11.8923 10.3398 12.3088 10.3398 12.8199V16.1137H10.3089Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.0891 4.77489C14.6976 5.14181 14.6976 5.69321 15.0891 6.02993L17.3101 8.11188H7.5783C7.05625 8.11188 6.63086 8.51063 6.63086 9C6.63086 9.48937 7.05625 9.88812 7.5783 9.88812H17.375L15.1535 11.9701C14.7625 12.337 14.7625 12.8884 15.1535 13.2251C15.5449 13.5916 16.1332 13.5916 16.492 13.2251L20.9993 9L16.492 4.77489C16.101 4.40837 15.4801 4.40837 15.0891 4.77489Z" fill="white"/></svg>
				</a></li>
			</ul>
		</div>
	</nav>
	<hr color="#ffd918" style="height: 2px;">
	<!--// End Navigation //-->

	<!-- Side Navigation -->
	<ul id="slide-out" class="sidenav primary">
		<!-- logo -->
		<li class="logo"><a href="#!"><img src=<%= require("./img/logo.png") %> alt=""></a></li>
		<hr color="#ffd918" style="height: 2px;">
		<!--// end logo //-->
		<li><a href="#!" class="waves-effect waves-dark btn white">Log in</a></li>
		<li><a href="#!" class="waves-effect waves-light btn secondary">Sign up</a></li>
		<li><a href="#!"><i class="material-icons secondar-text">home</i>Home</a></li>
		<li><a href="#!"><i class="material-icons secondar-text">video_library</i>Live</a></li>
		<!-- Collapsible Section -->
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li class="bold active">
					<a class="collapsible-header secondary-text">Cups</a>
					<div class="collapsible-body primary">
						<ul>
							<li><a href="#!">World Cup</a></li>
							<li><a href="#!">UEFA Champions League</a></li>
							<li><a href="#!">Europa League</a></li>
							<li><a href="#!">Confed. Cup</a></li>
							<li><a href="#!">Cup of Nations</a></li>
							<li><a href="#!">Euro 2016</a></li>
							<li><a href="#!">Copa America</a></li>
							<li><a href="#!">International</a></li>
						</ul>
					</div>
				</li>
				<li class="bold">
					<a class="collapsible-header secondary-text">Top Leagues</a>
					<div class="collapsible-body primary">
						<ul>
							<li><a href="#!">World Cup</a></li>
							<li><a href="#!">UEFA Champions League</a></li>
							<li><a href="#!">Europa League</a></li>
							<li><a href="#!">Confed. Cup</a></li>
							<li><a href="#!">Cup of Nations</a></li>
							<li><a href="#!">Euro 2016</a></li>
							<li><a href="#!">Copa America</a></li>
							<li><a href="#!">International</a></li>
						</ul>
					</div>
				</li>
				<li class="bold active">
					<a class="collapsible-header secondary-text">Tournaments</a>
					<div class="collapsible-body primary">
						<ul>
							<li><a href="#!">World Cup</a></li>
							<li><a href="#!">UEFA Champions League</a></li>
							<li><a href="#!">Europa League</a></li>
							<li><a href="#!">Confed. Cup</a></li>
							<li><a href="#!">Cup of Nations</a></li>
							<li><a href="#!">Euro 2016</a></li>
							<li><a href="#!">Copa America</a></li>
							<li><a href="#!">International</a></li>
						</ul>
					</div>
				</li>
				<li class="bold active">
					<a class="collapsible-header secondary-text">Countries</a>
					<div class="collapsible-body primary">
						<ul>
							<li><a href="#!">World Cup</a></li>
							<li><a href="#!">UEFA Champions League</a></li>
							<li><a href="#!">Europa League</a></li>
							<li><a href="#!">Confed. Cup</a></li>
							<li><a href="#!">Cup of Nations</a></li>
							<li><a href="#!">Euro 2016</a></li>
							<li><a href="#!">Copa America</a></li>
							<li><a href="#!">International</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<!--// End Collapsible Section //-->
	</ul>
	<!--// End Side Navigation //-->

	<!-- Content section -->
	<main class="container admin">
		<div class="row primary dark white-text t">
			<p class="head">current game</p>
			<div class="row match">
				<div class="col s1 times">
					<span class="secondary-text">12:20</span>
					<span>26 Aug</span>
				</div>
				<div class="col s11">
					<div class="col s5">
						<img src=<%= require("./img/team.svg") %> alt="">
						Manchester United
					</div>
					<div class="col s2 center-align">-:-</div>
					<div class="col s5 right-align">
						<img src=<%= require("./img/team.svg") %> alt="">
						Liverpool
					</div>
				</div>
			</div>
			<div class="row match">
				<div class="col s1 times">
					<span class="secondary-text">12:20</span>
					<span>26 Aug</span>
				</div>
				<div class="col s11">
					<div class="col s5">
						<img src=<%= require("./img/team.svg") %> alt="">
						Manchester United
					</div>
					<div class="col s2 center-align">-:-</div>
					<div class="col s5 right-align">
						<img src=<%= require("./img/team.svg") %> alt="">
						Liverpool
					</div>
				</div>
			</div>
		</div>
		<!--  add match -->
		<div class="row primary dark white-text t">
			<div class="row">
				<p class="head">add game</p>
				<div class="col s8">
					<div class="col s6 mc">
						<input type="text">
						<input type="file">
					</div>
					<div class="col s6 mc">
						<input type="text">
						<input type="file">
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn secondary primary-text waves-effect waves-light">DONE</button>
	</main>
	<!--// End Content Section //-->
	
</body>
</html>